#mia-container {
  /* height: 100vh; */
  /* height: 2000px; */
  /* height: 100vh !important;
  overflow-y: none;
  background-color: #322232; */
}

#mia-row {
  max-height: 1vh !important;
}

p {
  margin: 2% 2%;
}

.scene {
  position: absolute;
  width: 100%;
}

.dropcap {
  font-size: 62px;
  float: left;
  line-height: 50px;
}

#mia-h1 {
  margin: 0% 2%;
  font-size: 5rem;
  font-family: "Cardo", serif;
}

#mia-header {
  width: 100%;
  text-align: center;
}

#miaContainer {
  max-width: 100% !important;
  /* background-color: #322232; */
  background-color: #312231;
}

.modal-content {
  background-color: transparent;
}
