.parallax {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  /* background-color:#322232 */
}

#parallax-wrapper {
  height: 100vh;
  margin-top: 100px;
}

#layer-1 {
  z-index: 7;
}
#layer-2 {
  z-index: 6;
}
#layer-3 {
  /* margin-top: 2%; */
  z-index: 5;
}
#layer-4 {
  /* margin-top: 6%; */
  z-index: 4;
}
#layer-5 {
  /* margin-top: 7%; */
  z-index: 3;
}
#layer-6 {
  /* margin-top: 34%; */
  z-index: 2;
}

#layer-7 {
  z-index: 1;
}

.custom-class{
  max-height:100%;
}