#miaContainer {
  font-family: gaultier, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  padding-top: 100px;
  /* background-color: white; */
}

body {
  background-color: #322232;
}
p {
  padding: 1% 0%;
  color: white;
}

h1 {
  color: white;
}

a {
  color: white;
}

.fade-in-section {
  opacity: 0;
  /* transform: translateY(20vh); */
  visibility: hidden;
  transition: opacity 2s ease-out /*, transform 1.2s ease-out; */;
  will-change: opacity;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
